In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [10]:
#Remove duplicates from Study Results data
study_results_nodupl = study_results.groupby(['Mouse ID', 'Timepoint']).first()
mouse_metadata_nodupl = mouse_metadata.groupby(['Mouse ID']).first()

mouse_metadata_nodupl
study_results_nodupl

                    Tumor Volume (mm3)  Metastatic Sites
Mouse ID Timepoint
a203     0                   45.000000                 0
         5                   48.508468                 0
         10                  51.852437                 1
         15                  52.777870                 1
         20                  55.173336                 1
...                                ...               ...
z969     25                  63.145652                 2
         30                  65.841013                 3
         35                  69.176246                 4
         40                  70.314904                 4
         45                  73.867845                 4

[1888 rows x 2 columns]

In [ ]:
# Combine the data into a single dataset


# Display the data table for preview