In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [10]:
#Remove duplicates from Study Results data
study_results_nodupl = study_results.groupby(['Mouse ID', 'Timepoint']).first()
mouse_metadata_nodupl = mouse_metadata.groupby(['Mouse ID']).first()

mouse_metadata_nodupl
study_results_nodupl

                    Tumor Volume (mm3)  Metastatic Sites
Mouse ID Timepoint
a203     0                   45.000000                 0
         5                   48.508468                 0
         10                  51.852437                 1
         15                  52.777870                 1
         20                  55.173336                 1
...                                ...               ...
z969     25                  63.145652                 2
         30                  65.841013                 3
         35                  69.176246                 4
         40                  70.314904                 4
         45                  73.867845                 4

[1888 rows x 2 columns]

In [13]:
mouse_info_df = pd.DataFrame(mouse_metadata_nodupl, columns=["Drug Regimen", "Sex", "Age_months", "Weight (g)"])
mouse_info_df

         Drug Regimen     Sex  Age_months  Weight (g)
Mouse ID
a203        Infubinol  Female          20          23
a251        Infubinol  Female          21          25
a262          Placebo  Female          17          29
a275         Ceftamin  Female          20          28
a366         Stelasyn  Female          16          29
...               ...     ...         ...         ...
z435         Propriva  Female          12          26
z578         Ramicane    Male          11          16
z581        Infubinol  Female          24          25
z795         Naftisol  Female          13          29
z969         Naftisol    Male           9          30

[249 rows x 4 columns]

In [38]:
study_info_df = pd.DataFrame(study_results_nodupl, columns=["Tumor Volume (mm3)", "Metastatic Sites"])
study_info_df

                    Tumor Volume (mm3)  Metastatic Sites
Mouse ID Timepoint
a203     0                   45.000000                 0
         5                   48.508468                 0
         10                  51.852437                 1
         15                  52.777870                 1
         20                  55.173336                 1
...                                ...               ...
z969     25                  63.145652                 2
         30                  65.841013                 3
         35                  69.176246                 4
         40                  70.314904                 4
         45                  73.867845                 4

[1888 rows x 2 columns]

In [41]:
study_info_df.reset_index(inplace=True)

In [42]:
study_info_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     a203          0           45.000000                 0
1     a203          5           48.508468                 0
2     a203         10           51.852437                 1
3     a203         15           52.777870                 1
4     a203         20           55.173336                 1

In [43]:
# Merge two dataframes using an inner join
mouse_merge = pd.merge(mouse_info_df, study_info_df, on="Mouse ID", how="outer")

# Display the data table for preview
mouse_merge

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,a203,Infubinol,Female,20,23,0,45.000000,0
1,a203,Infubinol,Female,20,23,5,48.508468,0
2,a203,Infubinol,Female,20,23,10,51.852437,1
3,a203,Infubinol,Female,20,23,15,52.777870,1
4,a203,Infubinol,Female,20,23,20,55.173336,1
...,...,...,...,...,...,...,...,...
1883,z969,Naftisol,Male,9,30,25,63.145652,2
1884,z969,Naftisol,Male,9,30,30,65.841013,3
1885,z969,Naftisol,Male,9,30,35,69.176246,4
1886,z969,Naftisol,Male,9,30,40,70.314904,4
1887,z969,Naftisol,Male,9,30,45,73.867845,4